<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- remove any machine-wide sources with <clear/> -->

 <clear/>
 
  <solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>

  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
     <!-- also get packages from the NuGet Gallery 
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    -->
  </packageSources>
  
  
    <activePackageSource>
       <add key="nuget.org" value="https://www.nuget.org/packages"/>
	<!--    
	<add key="repositoryPath" value="..\..\MVCApp\packages"/>
	<add key="http_proxy" value="http://localhost:8080"/>
	-->
    </activePackageSource>
    
</configuration>