<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>
    <activePackageSource>
      <add key="nuget.org" value="https://www.nuget.org/packages	"/>
      <add key="repositoryPath" value="C:\Projects\ASP.NET-master\MVCDOTNET\MVCApp\packages"/>
   <!--   <add key="http_proxy" value="http://localhost:8080"/> -->
    </activePackageSource>
    
</configuration>